body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 166px;
}
.header{
    background-image: url(images/bg2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-item{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover{
    color: rgb(202, 43, 43);
}
.cart{
    position: relative;
    border-right: 1px solid #fff ;
    padding-right: 20px;
    height: 50px;
}
.cart-img{
    position: absolute;
    padding-right: 20px;
    top:18px;
    right: 7px;
}
.num{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}
.num:hover{
    color: rgb(202, 43, 43);
}
.phone-text{
    font-size:14px;
    font-weight: 400;
    color: #fff;
}
.phone-holder{
    display: flex;
    align-items: center;
}
.order-btn{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}
.order-btn:hover{
    background-color: #bb590a;
}
.header-down{
    position: relative;
}
.header-title{
    position:absolute;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-top: 95px;
    margin-left: 98px;
    margin-bottom: 12px;
}
.header-sub2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.header-sub2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 128px;
    left: 319px;
}
.header-sub2::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 128px;
    left: 53px;
}
.header-button{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 27px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s linear;
}
.header-button:hover{
    background-color: #bb590a;
}
.card{
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 300px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -134px;
    font-family: 'Tinos', serif;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.833);
}
.card-image{
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.card-tittle{
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.card-desc{
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 20px;
    color: #656363;
    margin-bottom: 20px;
}
.cards-holder{
    display: flex;
    justify-content: center;
}
.card-tittle span{
    color:#BC9060;
    padding-left: 10px;
}
.history{
    margin-top: 166px;
    padding-bottom: 200px;
}
.history-tittle{
    font-family: 'Tinos', serif;
    font-size:54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}
.history-tittle span{
    color:#BC9060;
}
.history-desc{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #656363;
    width: 444px;
    text-align: center;
}
.history .container{
    display: flex;
    justify-content: space-between;
}
.history-cactus{
    text-align: center;
    margin-top: 20px;
}
.history-images{
    position: relative;
}
.history-images img:nth-child(1){
    position: absolute;
    z-index: 2;
    top: -72px;
    left: -570px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.history-images img:nth-child(2){
    position: absolute;
    z-index: 1;
    top: 58px;
    left: -214px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.history-images img:nth-child(3){
    position: absolute;
    z-index: 0;
    top: -94px;
    left: -419px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.photo-bg{
    width: 200px;
    height: 250px;
    background-color: #FFE8D0;
    position: absolute;
    z-index: -1;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.photo-bg1{
    top: -79px;
    left: -327px;
}
.photo-bg2{
    top: 69px;
    left: -373px;
}
.photo-bg3{
    top: 19px;
    left: -527px;
}
.business-lunch{
    background-image: url(images/business-bg.png) ;
    padding: 80px 0;
}
.left-tittle{
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 58px;
    margin-bottom: 20px;
}
.left-text{
    color: #fff;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
}
.right-btn{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 20px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}
.right-btn:hover{
    background-color: #bb590a;
}
.business-lunch .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes{
    margin-bottom: 200px;
}
.dishes-tittle{
    margin-top: 132px;
    text-align: center;
    font-family: Tinos;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    margin-bottom: 139px;
}
.dishes-tittle span{
    color: #D67E34;
}
.main-menu{
    display: flex;
    justify-content: center;
}
.menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu-item{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.menu-item-text{
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-left: 20px;
    display: flex;
}